.heroLogo {
  transform-origin: top center;
  transform: scaleY(2);
}

.heroImage {
  transform-origin: 50% 100%;
  transform: translateY(110%) scale(1);
}

@supports (animation-timeline: view()) {
  .heroLogo {
    transform: scaleY(2);
    will-change: transform;
    @apply transform-gpu;
    animation-name: hero-logo-scale;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-timeline: scroll(root block);
    animation-range: 0% 10%;
  }
  @keyframes hero-logo-scale {
    0% {
      transform: scaleY(2);
    }

    100% {
      transform: scaleY(1);
    }
  }

  .heroImage {
    transform: translateY(110%) scale(1);
    will-change: transform;
    @apply transform-gpu;
    transform-origin: 50% 120%;
    animation-name: hero-image-travel;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: both;
    animation-timeline: scroll(root block);
    animation-range: 0% 90%;
  }

  @keyframes hero-image-travel {
    0% {
      transform: translateY(110%) scale(1);
    }

    100% {
      transform: translateY(0%) scale(1.75);
    }
  }
}
