.heroLogo {
  transform-origin: 50% 0%;
  transform: scaleY(var(--scale-multiplier));
}

@supports (animation-timeline: view()) {
  .heroLogo {
    transform: scaleY(var(--scale-multiplier));
    will-change: transform;
    @apply transform-gpu;
    animation-name: hero-logo-scale;
    animation-timing-function: linear;
    animation-fill-mode: both;
    animation-timeline: scroll(root block);
    animation-range: 0% 12%;
  }

  @keyframes hero-logo-scale {
    0% {
      transform: scaleY(1);
    }

    100% {
      transform: scaleY(var(--scale-multiplier));
    }
  }
}
