@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-space-mono);
  --font-mono: var(--font-space-mono);
  --font-serif: var(--font-brygada-1918);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  background-image: url("/img/optimized/noise.webp");
  background-size: min(100%, 1128px);
  background-position: center;
  color: var(--foreground);
  font-family: var(--font-space-mono);
  container-type: inline-size;
}

@layer base {
  p {
    text-wrap: pretty;
    color: var(--foreground);
    line-height: 1.25;
    a {
      @apply font-semibold text-amber-400 underline underline-offset-4 hover:text-amber-500;
    }
  }
}

@layer utilities {
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
  .fade-in-slow {
    opacity: 0;
    animation: fadeInSlow 2s ease-out forwards;
  }
}
.fade-in-slow {
  animation-fill-mode: forwards;
}

@keyframes fadeInSlow {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes flickerIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 0.25;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 0.71;
  }
  60% {
    opacity: 0;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate(var(--offset-x), calc(var(--offset-y) + 30px))
      scaleY(1.25);
  }
  to {
    opacity: 1;
    transform: translate(var(--offset-x), var(--offset-y)) scaleY(1.25);
  }
}
.button {
  color: greenyellow;
  text-align: center;
  position: relative;
  background: transparent;
  isolation: isolate;
  mix-blend-mode: difference;
  overflow: hidden;
  padding: 4vw 2vw;
  line-height: 1;
  @apply transition-colors duration-300;
  &:hover {
    color: green;
    .button-text {
      @apply scale-[1.1];
    }
    .button-background {
      @apply scale-100;
    }
  }
  .button-text {
    position: relative;
    z-index: 0;
    @apply block scale-100 font-mono backface-hidden transition-transform duration-300;
    font-weight: 900;
    font-size: 5vw;
  }
  .button-background {
    position: absolute;
    inset: 0.1vw;
    border: 1vw solid currentColor;
    @apply transition-all duration-300;
    z-index: 0;
  }
}
:root {
  --container-width: 1080px;
  --layer-color-0: #a85a90;
  --layer-color-1: #b14d75;
  --layer-color-2: #b9405a;
  --layer-color-3: #c2343e;
  --layer-color-4: #c82c2a;
  --layer-color-5: #c8352b;
  --layer-color-6: #c83d2c;
  --layer-color-7: #c8462d;
  --layer-color-8: #cc512c;
  --layer-color-9: #d45f29;
  --layer-color-10: #dc6d26;
  --layer-color-11: #e47b23;
  --layer-color-12: #e88c1e;
  --layer-color-13: #eb9f19;
  --layer-color-14: #eeb114;
  --layer-color-15: #f1c40f;
}
