@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-space-mono);
  --font-mono: var(--font-space-mono);
  --font-serif: var(--font-brygada-1918);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-space-mono);
}

@layer base {
  p {
    text-wrap: pretty;
    color: var(--foreground);
    line-height: 1.25;
    a {
      @apply font-semibold text-amber-500 underline underline-offset-4;
    }
  }
}
